body{
     
    font-family: sans-serif;
}
.aboutdiv{
    background-color: rgb(241, 248, 248);
}
.what-we-do{
    display: grid;
    grid-template-columns: auto auto;
}
.divisions-of-work{
    margin-left: 170px;
}
    
    


